*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font: 14px/1.5 -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

html, body {
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("/img/backroundImg.jpg");
    transform: scale(1.1);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: gray;
    filter: blur(3px);
    z-index: -1;
}
body{
    
    min-height: 100vh;
    font: 14px/1.5 Lato, sans-serif;
    position: relative;
}
    
.form-border , .container{
    background: rgba(255,255,255,0.85);
    padding: 3rem 4rem 4rem 4rem;
    border-radius: 10px;
    width: 30rem;
    margin: 250px auto;
    position: relative;
    
}

form div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div label{
    flex: 0 0 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 1em;
    
}

div input , div select {
    flex: 0 0 100%;
    text-align: center;
    font-size: larger;
    border-radius: 0.5em;
    height: 2em;
    border: 2px solid grey;
    
    



}

.reg-form{
    margin: 1em auto;
}




.button {
  flex: 0 0 50%;  
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  touch-action: manipulation;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  font-weight: bold;
  cursor: pointer;
  transition:
  transform 0.12s ease,
  box-shadow 0.12s ease;
}

.button:active {
  transform: scale(0.96); /* smanjenje na klik */
  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.6),
    0 0 0 2px #fff;
}

.button:hover{
  transform: scale(1.06); /* uvećanje */
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.6),
    0 0 0 2.5px #fff;
}

.table-container {
    max-height: 600px;    /* visina vidljivog dela tabele */
    overflow-y: auto;     /* vertikalni scroll */
    border: 1px solid #ccc;
    width: 75%;
    margin: 10em auto;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    
    
    
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #2c3e50;
    color: white;
}

tr{
    background: #fff;
    
}

tbody tr{
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead th {
    position: sticky;     /* fiksira header */
    top: 0;               /* na vrhu scroll-a */
    background-color: #2c3e50;
    color: white;
    z-index: 2;
}

tr:hover {
    background-color:gray;
}

.success{
    display: block;
    height: 14px;        /* rezerviše prostor */
    color: #2e7d32;     /* zeleno */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    
}

.success.show {
    visibility: visible;
    opacity: 1;
}

.back-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 1.5em;
}

.back-btn:hover {
     transform: scale(1.06); 
}

.back-btn:active {
  transform: scale(0.96); 
  
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 50em;
    margin: 4em auto;
    padding: 2em;
    justify-content: space-evenly;
    row-gap: 20px;
    align-content: flex-start;
    
}

.img-container{
    
    flex-direction: 0 0 50%;
    height: 300px;
    width: 40%;
    display: block;
    
    
}

.important-data-container{
    
    flex-direction: 0 0 50%;
    height: 300px;
    width: 45%;
}

.role-container{
    
    flex-direction: 0 0 50%;
    height: 150px;
    width: 95%;
    
    
}

.avatar-box img{
    height: 250px;
    width: 250px;
    margin: 3.5em 1em;
    border-radius: 2em;
    box-shadow: 10px 10px 8px 10px #888888;
}

.form-roll{
    display: flex;
    align-content: baseline;
    justify-content: space-evenly;
    margin: 2em 0;
}

.form-roll-input input, .form-roll-input select{
    width: 75px;
}

#edit {
  height: 20px;
  font: 20px bolder -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 1000; /* da bude iznad svega */
}

.nav-bar{
    width: 100%;
}

.delete-btn {
    position: fixed;
    top: 20px;
    right: 250px;
    padding: 15px 25px;
    border-radius: 1em;
    
}

.add-btn{
    position: fixed;
    top: 20px;
    left: 250px;
    padding: 15px 25px;
    border-radius: 1em;

    
    
    
    
}
.reg-img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    input[type="file"] {
     display: none;
    }
}

#preview {
  display: none;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.upload-btn {
  display: inline-block;
  padding: 8px 14px;
  background: #6e6d70;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.text-danger{
    color:red;
}





